{
    {$CADDY_GLOBAL_OPTIONS}
}

{$SERVER_NAME}

log

# Matches requests for OIDC routes
@oidc expression path('/oidc/*')

# Matches requests for HTML documents, for static files and for Next.js files,
# except for known API paths and paths with extensions handled by API Platform
@pwa expression `(
        header({'Accept': '*text/html*'})
        && !path(
            '/docs*', '/graphql*', '/bundles*', '/contexts*', '/_profiler*', '/_wdt*',
            '*.json*', '*.html', '*.csv', '*.yml', '*.yaml', '*.xml'
        )
    )
    || path('/favicon.ico', '/manifest.json', '/robots.txt', '/_next*', '/__nextjs*', '/sitemap*', '/api/auth/*')`

route {
    reverse_proxy @oidc http://{$OIDC_UPSTREAM}
    
    reverse_proxy @pwa http://{$PWA_UPSTREAM}

    reverse_proxy http://{$API_UPSTREAM}

    encode zstd gzip
}